:root{
    --background-color-1: #0b0b0b;
    --background-color-2: #0f0f0f;
    --main-font-color: #1FC742;
}

body {
  background: var(--background-color-1);
  /* opacity: 0.5; */
  /* background-image: url(/assets/pictures/jon-tyson-gIVzDR6JRWc-unsplash.jpg), ; */
    /* background: var(--background-color-1) */
}

h1 {
  color: var(--main-font-color);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px var(--main-font-color);
}