:root{
    --background-color-1: rgb(2, 2, 2);
    --background-color-2: #0f0f0f;
    --green-font-color: #25fd30;
    --teal-font-color: rgb(127, 254, 254);
    --yellow-font-color: rgb(255, 255, 113);
    --purple-font-color: rgba(255, 150, 255, 1);
    --orange-font-color: rgba(255, 204, 153, 1);
    --standard-padding: 20px;
    --standard-margin-bottom: 100px;
    --standard-margin: 20px;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--green-font-color);
  text-shadow: 0px 0px 3px var(--green-font-color);
  scroll-behavior: smooth;
}

body {
  background: var(--background-color-1);
}


main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--standard-margin-bottom);
}

/* Header Section */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
	top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 var(--standard-padding);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--standard-margin);
}

div.icon a {
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 4px var(--purple-font-color);
  text-decoration: none;
}

nav {
  margin-right: var(--standard-margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

li {
  margin: var(--standard-margin);
}

li a {
  font-size: 1.5rem;
  color: var(--teal-font-color);
  text-decoration: none;
  text-shadow: 0px 0px 3px var(--green-font-color);
}

.contact-me {
  color: var(--yellow-font-color);
}


/* main section */

/* Home/banner */
#home{
  margin-bottom: var(--standard-margin-bottom);
  position: relative;
}

.hello,
.i-am,
.developer {
  position: absolute;
  z-index: 1;
  color: var(--purple-font-color);
}

.hello {
  top: 25%;
  left: 23%;
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--purple-font-color);
}

h1 {
  position: absolute;
  Top: 30%;
  left: 23%;
  z-index: 1;
  font-size: 4rem;
  color: white;
  text-shadow: 0px 0px 3px var(--purple-font-color);
}

.i-am {
  top: 44%;
  left: 45%;
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--purple-font-color);
}

.developer {
  top: 50%;
  left: 45%;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 3px var(--purple-font-color);
  max-width: 600px;
  height: auto;
}

.home-img img {
  width: 100vw;
  max-height: 500px;
  opacity: 0.9;
}

/* project section */
.project-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0px 100px;
  margin: 0vh 15vw;
  padding: 0vh 5vw;
  box-shadow: -15px 0 5px -10px var(--orange-font-color);
  text-shadow: 0px 0px 3px var(--orange-font-color);
  margin-bottom: var(--standard-margin-bottom);
}

/* Larger project */
.project-card-1 {
  grid-row: 1;
  grid-column: 1;
}

.project-card-2 {
  grid-row: 2;
  grid-column: 2;
  max-height: 250px;
}

.project-card-3 {
  grid-row: 1;
  grid-column: 3;
  max-height: 250px;
}

.project-card-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: none;
  color: rgba(127, 255, 212, 1);
  text-shadow: 0px 0px 3px rgba(127, 255, 212, 1);;
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 2;
}

.project-card-1,
.project-card-2,
.project-card-3 {
  color: var(--orange-font-color);
  border-radius: 10px;
  /* position: relative; */
  transition: box-shadow 0.6s ease-in-out;
}

.project-img-1 {
  border-radius: 10px;
  width: 100%;
}

.project-img-2,
.project-img-3 {
  border-radius: 10px;
  max-height: 250px;
  width: 100%;
}

.project-card-1:hover,
.project-card-2:hover,
.project-card-3:hover {
  box-shadow: 
  4px 4px 10px rgba(127, 255, 212, 1);
}

/* about section */
#about {
  margin: 20vh 20vw;
  display: flex;
  color: white;
  text-shadow: 0px 0px 4px var(--purple-font-color);
}

#about > * {
  padding: var(--standard-padding);
}

.jorge {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Contact section */
#contact {
  margin-bottom: var(--standard-margin-bottom);
}

#contact > h4 {
  text-align: center;
  font-size: 2rem;
  color: var(--yellow-font-color);
  text-shadow: 0px 0px 3px var(--yellow-font-color);
}

.links {
  display: flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
}

.my-link {
  max-width: 80px;
  height: auto;
  padding: 5px;
  margin: 0px 20px;
}

/* footer */
footer {
  margin-top: var(--standard-margin-bottom);
  color: white;
  text-shadow: 0px 0px 1px white;
  opacity: 0.7;
  margin-bottom: 10px;
}


/* Media queries */

/* Target screen smaller than 320px */
@media (max-width: 320px) {
  * {
    min-width: 320px;
  }
}

/* Target screens between 320px and 767px - small */
@media (min-width: 320px) and (max-width: 767px) {
  header {
    padding: 0;
  }
  
  .icon,
  nav {
    margin: 0;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav a,
  div.icon > p {
    font-size: 1.2rem;
    color: var(--teal-font-color);
    text-decoration: none;
    text-shadow: 0px 0px 3px var(--green-font-color);
  }

  .hello {
    top: 38%;
    left: 30%;
    font-size: 1.1rem;
  }
  
  h1 {
    top: 43%;
    left: 30%; 
    font-size: 1.6rem;
  }
  
  .i-am {
    top: 53%;
    left: 30%;
    font-size: 1.1rem;
  }
  
  .developer {
    top: 58%;
    left: 30%;
    font-size: 1.6rem;
    max-width: 600px;
    height: auto;
  }

  .project-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 50px 50px;
    margin: 0vh 15vw;
    padding: 0vh 5vw;
  }
  
  .project-card-1 {
    grid-row: 2;
    grid-column: 1;
  }
  
  .project-card-2 {
    grid-row: 3;
    grid-column: 1;
  }
  
  .project-card-3 {
    grid-row: 4;
    grid-column: 1;
  }
  
  .project-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    font-size: 1.2rem;
  }

  .project-card-1 h2,
  .project-card-2 h2,
  .project-card-3 h2 {
    border-bottom: none;
  }

  .project-card-1 p {
    margin-top: -10px;
  }

  .project-card-2 p,
  .project-card-3 p {
    margin-top: 10px;
  }

  #about {
    margin: 20vh 20vw;
    display: block;
    color: white;
    text-shadow: 0px 0px 4px var(--purple-font-color);
    text-align: center;
  }
}

/* Target screens between 768px and 1600px - medium */
@media (min-width: 768px) and (max-width: 1600px) {
  .project-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 50px 50px;
    margin: 0vh 15vw;
    padding: 0vh 5vw;
  }
  
  .project-card-1 {
    grid-row: 1;
    grid-column: 1;
  }
  
  .project-card-2 {
    grid-row: 2;
    grid-column: 1;
  }
  
  .project-card-3 {
    grid-row: 2;
    grid-column: 2;
  }
  
  .project-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
  }

  .project-card-1 h2,
  .project-card-2 h2,
  .project-card-3 h2 {
    border-bottom: none;
  }

  .project-card-1 h2 {
    top: 80%;
  }

  #about {
    margin: 20vh 20vw;
    display: block;
    color: white;
    text-shadow: 0px 0px 4px var(--purple-font-color);
    text-align: center;
  }
}

/* Targets screens that are 2200px or larger and sets the maximum width of the body element to 2200px - large */
@media (min-width: 2300px) {
  * {
    max-width: 2300px;
    margin: 0 auto;
  }
}